services:
  app:
    build:
      dockerfile: ./Dockerfile
      context: ./
    container_name: app
    environment:
      APP_CONFIG__DB__URL: postgresql+asyncpg://user:password@pg:5432/app_db
      APP_CONFIG__DB__ECHO: 0
      APP_CONFIG__REDIS__URL: redis://redis:6379
    ports:
      - "8000:8000"
    depends_on:
      redis:
        condition: service_healthy
      pg:
        condition: service_healthy
    networks:
      - app-network

  pg:
    image: postgres:15
    container_name: pg
    environment:
      POSTGRES_DB: app_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - app_pg:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--save", "", "--appendonly", "no"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "5050:80"
    depends_on:
      pg:
        condition: service_healthy
    networks:
        - app-network

volumes:
  app_pg:

networks:
  app-network:
    driver: bridge
